@import "tailwindcss";
input{
  text-align: center;
}
html,
body {
  font-size: 16px;
}
.shiny {
  position: relative;
  overflow: hidden;
}
.shiny::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -55%;
  width: 50%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  transition: 0.3s ease-in-out;
}
.shiny::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: -100%;
  transition: 0.3s ease-in-out;
}
.shiny:hover::after {
  left: 105%;
}
.shiny:hover::before {
  left: 0;
}
